#taskGridContainer {
  position: relative;
  padding-left: 15px;
  width: fit-content;
}

#taskGrid {
  display: grid;
  column-gap: 5px;
  grid-template-columns: minmax(auto, 236px);
  align-items: flex-start;
  margin-top: 15px;
  float: left;
}


.addTaskType {
  position: absolute;
  padding: 9px;
}
