#task-grid {
  display: grid;
  column-gap: 5px;
  grid-template-columns: minmax(0px, 236px);
  align-items: flex-start;
  margin-top: 15px;
  float: left;
}

#taskGridContainer {
  position: relative;
  padding-left: 15px;
}

.addTaskType {
  float: left;
  padding: 9px;
}
