#helpContainer {
  width: 90%;
  max-width: 50em;
  margin-left: 25px;
  text-align: justify;
}

#helpHeader {
  white-space: pre-wrap;
  font-weight: bold;
  margin-top: 25px;
}

.help {
  margin-top: 25px;
}
